Manifest.toml

# note that data should be saved in another repository

# Ignore ipynb, since we use jupytext to export to jl
.ipynb_checkpoints
*.ipynb

# create keyword ignore for scratch work
ignore
