Manifest.toml

# later we may want to include the data in the git repository, but let's hold off for now
data
webdata

# Ignore ipynb, since we use jupytext to export to jl
.ipynb_checkpoints
*.ipynb
