name: SKNA Data Analyzer
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  Analyze-SKNA-Data:
    runs-on: ubuntu-latest
    steps:
      - name: Check out SKNA_Analysis code
        uses: actions/checkout@v2
        with:
          path: analysis
          repository: y-wenl/SKNA_Analysis
          token: ${{ secrets.PAT }}
      - name: Check out data
        uses: actions/checkout@v2
        with:
          path: data
          repository: y-wenl/SKNAData
          token: ${{ secrets.PAT }}
      - name: Install Julia
        uses: julia-actions/setup-julia@v1
        with:
          version: 1.6.2
      - name: Install Julia dependencies
        run: |
          cd analysis
          #julia --project=. -e 'import Pkg; Pkg.instantiate()'
          julia -e 'import Pkg; Pkg.add("DelimitedFiles"); Pkg.add("JSON"); Pkg.add("YAML"); Pkg.add("Underscores@2.0.0")'
      - name: Run analyses
        run: |
          cd analysis
          julia process_data.jl
          julia web_export.jl
      - name: Commit new data
        run: |
          cd data
          git config user.name "mechazawa"
          git config user.email "mechazawa@local"
          git add .
          git commit -m "Automated analysis commit" && git push || echo "No data change"
